---
- name: Upload and Clean Up Block
  delegate_to: "{{ aap_server_hostname }}"
  become: no
  block:
    - name: Copy backup from EE container to AAP Host
      ansible.builtin.copy:
        src: "{{ local_temp_dir }}/{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
        dest: "{{ local_temp_dir }}/{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
      delegate_to: "{{ aap_server_hostname }}"
      # This moves the file from the container's memory to the host's physical disk

    - name: Upload sudoers archive to Azure Blob (CLI)
      ansible.builtin.shell: >
        az storage blob upload
        --account-name "{{ storage_account_name }}"
        --account-key "{{ storage_account_key }}"
        --container-name "{{ az_container }}"
        --file "{{ local_temp_dir }}/{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
        --name "{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
        --auth-mode key
        --overwrite
      delegate_to: "{{ aap_server_hostname }}"
      register: upload_output

    - name: Show Azure CLI Result for Debugging
      ansible.builtin.debug:
        var: upload_output.stdout_lines

    - name: Clean up local temporary file from AAP server
      ansible.builtin.file:
        path: "{{ local_temp_dir }}/{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
        state: absent
      delegate_to: "{{ aap_server_hostname }}"

  rescue:
    - name: Fail with detailed error
      ansible.builtin.fail:
        msg: "Upload failed! Error: {{ upload_output.stderr }}"