---
- name: Upload and Clean Up Block
  delegate_to: localhost
  become: no
  block:
    - name: Upload sudoers archive to Azure Blob (CLI)
      ansible.builtin.shell: >
        az storage blob upload
        --account-name "{{ storage_account_name }}"
        --account-key "{{ storage_account_key }}"
        --container-name "{{ az_container }}"
        --file "{{ local_temp_dir }}/{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
        --name "{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
        --auth-mode key
        --overwrite
      register: upload_output

    - name: Show Azure CLI Result for Debugging
      ansible.builtin.debug:
        var: upload_output.stdout_lines

    - name: Clean up local temporary file from AAP server
      ansible.builtin.file:
        path: "{{ local_temp_dir }}/{{ inventory_hostname }}_{{ backup_timestamp }}_sudoers_backup.tar.gz"
        state: absent

  rescue:
    - name: Fail with detailed error
      ansible.builtin.fail:
        msg: "Upload failed! Error: {{ upload_output.stderr }}"